#som {
	border: 1px solid black;
	height: 30px;
	width: 500px;
	font-size: 30px;
}

#antwoord {
	border: 1px solid black;
	width: 500px;
	font-size: 30px;
}

button {
	width: 100px;
	height: 100px;
	background-color: limegreen;
	color: red;
	font-size: 30px;
	border: 1px solid black;
	margin-top: 3px;
	margin-left: -1px;
}

body {
	max-width: 415px;
	background:url(doge.jpg); 
	background-size: cover; 
}
